# [TITLE]: kconfig-lib
# [DESCRIPTION]:
# [STATUS]:
# [CAPABILITIES]:
# [TAGS]:
# [MAINTAINER]: pundle
include(kconfig-data)
include(kconfig-license)
include(libc6)
include(libstdc++)
include(qt6base-lib)
include(qt6declarative-lib)
kconfig-lib
