# [TITLE]: kconfigwidgets
# [DESCRIPTION]:
# [STATUS]:
# [CAPABILITIES]:
# [TAGS]:
# [MAINTAINER]: pundle
include(kconfigwidgets-data)
include(kconfigwidgets-lib)
include(kconfigwidgets-license)
include(kconfigwidgets-locales)
kconfigwidgets
