# [TITLE]: kconfig
# [DESCRIPTION]:
# [STATUS]:
# [CAPABILITIES]:
# [TAGS]:
# [MAINTAINER]: pundle
include(kconfig-bin)
include(kconfig-data)
include(kconfig-lib)
include(kconfig-license)
include(libc6)
include(libstdc++)
include(qt6base-lib)
kconfig
